.DS_Store
.vscode
build/
source/_build
*.emf
*.wmf
*.swp
*~
*.eps
nfdynm.data
nfefn.data
output0*
jobstatus0*
continue*
nfpwbs.data
zaj.data
nfchgt.data
nfenergy.data
*.pdf
kpoint.data
*.svg
nfefermi.data
nfstop.data
dos.data
nfvlc*
nfldos.data
*.cube
eps.data
eps_continue.data
mode.data
force.data
